
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	{% block head %} <link rel="icon"
      type="image/png"
      href="{{ setting.icon.url}}"> {% endblock %}
</head>
<body>
	<div id="breadcrumb">
		<li class="active">{{content.title}}</li>
	</div>
	<hr>

	{% if messages %}
		{% for message in messages %}
		<div class="alert alert-{{message.tags}}" role="alert">
		{{ message }}
		</div>
		{% endfor %}
	{% endif %}

	<form  method="post" enctype="multipart/form-data">
		{% csrf_token %}
		<input type="hidden" name="content_id" id ='id_content_id' value="{{ content.id }}">
		<label for="id_title">Title</label>
		<input type="text" name="title" id="id_title" maxlength="50" placeholder="title" class="input"></p>
		<label for="id_image"></label>
		<input type="file" name="image" id="id_image" placeholder="image" class="input" accept="image/+"></p>
		<button type="submit" class="primary-btn" >Upload Image</button>
	</form>

</body>
</html>




{% block content %}
<div class="section">
	<!-- container -->
	<div class="container">
		<!-- row -->
		<div class="row">
			<img class="img-responsive" src="{{content.image.url}}" height='300' alt="" srcset="">
			<hr>
			<div style="justify-content: space-evenly;">
				{% for rs in images %}
				<img class="img-responsive" src="{{rs.image.url}}" height="200" alt="" srcset="">
				{% endfor %}
			
			</div>
		</div>
		<!-- /row -->
	</div>
	<!-- /container -->
</div>
<!-- /section -->

 {% endblock %}
