{% extends 'homebase.html' %}

{% block title %}  {{ profile.user_name }} Profile {% endblock %}
{% block description %} {{ setting.description }} {% endblock %}
{% block keywords %} {{ setting.keywords }} {% endblock %}

{% block sidebar %} {% include 'sidebar.html' %} {% endblock %}

{% block content %}

    <!-- BREADCRUMB -->
    <div id="breadcrumb">
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="/">Home</a></li>
                <li class="active">User Profile</li>
            </ul>
        </div>
    </div>
    <!-- /BREADCRUMB -->

    <!-- section -->
    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">

                <div class="col-md-3">
                    {% include "user_panel.html" %}
                </div>

                <div class="col-md-9">
                    <div class="billing-details">
                        <div class="section-title">
                            <h3 class="title">Contents</h3>
                            <a class="btn btn-primary" href="/user/addcontent/">Add Content</a>

                        </div>
                    </div>

                     <table class="shopping-cart-table table">
                        <tr>
                            <th class="text-left">Content resmi</th>
                            <th class="text-left">baslik</th>
                            <th class="text-left">Tipi</th>
                            <th class="text-left">Galery</th>
                            <th class="text-left">baslik</th>
                            <th class="text-left">status/th>
                            <th class="text-left">Yayinlandigi tarix</th>
                        </tr>
                         {% if messages %}
                        {% for message in messages %}
                            <div style="color: #d43f3a; font-size: medium">
                                {{ message|safe }}
                            </div>
                        {% endfor %}
                    {% endif %}
                          {% for rs in contents %}
                        <tr>
                                <td class="text-left"> <img class="img-responsive" src="{{ rs.image.url}}"> </td>
                                <td class="text-left">{{rs.title}}</td>
                                <td class="text-left">{{ rs.type}}</td>
                                <td><a href="javascript:;" onclick="window.open('/user/addimagecontent/{{ rs.id }}', 'gallery', 'height=600, width=800, top=50 left=150')" >Galery</a></td>
                                <td class="text-left">{{ rs.title}}</td>
                                <td class="text-left">{{ rs.status}}</td>
                                <td class="text-left">{{ rs.create_at}}</td>
                                <td class="text-right"><a href="/user/editcontent/{{rs.id}}" onclick="return confirm('Delete ! Are you sure?')" class="main-btn icon-btn">Edit</a></td>
                                <td class="text-right"><a href="/user/deletecontent/{{rs.id}}" onclick="return confirm('Delete ! Are you sure?')" class="main-btn icon-btn">Delete</a></td>
                        </tr>
                         {% endfor %}
                    </table>
                </div>


            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /section -->

{% endblock %}